/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e9edf0;
}

#root {
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 10%;
  margin: 50px 0px;
  font-family: sans-serif;
}

h1 {
  font-size: 20px;
}

.editor-title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 15px;
}

.personal-info-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.personal-info-labeled-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.personal-info-sub-container-1 {
  display: flex;
  gap: 10px;
}

.personal-info-sub-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.personal-info-sub-container-2-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.personal-info-sub-container-2 input {
  width: 100%;
}

.summary textarea {
  resize: none;
  width: 100%;
  height: 120px;
}

.add-button {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.delete-button {
  display: flex;
  gap: 5px;
}

.work-experience-input-items {
  display: grid;
  gap: 10px;
}

.work-experience-input-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.work-experience-top-container,
.work-experience-bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.company-name-editor,
.job-title-editor,
.start-date-editor,
.end-date-editor,
.key-responsibilities-editor {
  display: flex;
  flex-direction: column;
}

.work-experience-input-items input {
  width: 100%;
}

.key-responsibilities-editor textarea {
  resize: none;
  height: 120px;
}

.delete-experience,
.delete-education {
  align-self: flex-end;
}

.education-input-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.education-top-row,
.education-bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.degree-editor-item,
.university-editor-item,
.education-start-date-item,
.education-end-date-item {
  display: flex;
  flex-direction: column;
}

.education-input-item input {
  width: 100%;
}

.skill-remove:hover,
.add-button,
.delete-button {
  cursor: pointer;
}

.skill-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.skill {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.add-button {
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0 !important;
}

.personal-info-input-container {
  border: 1px rgb(192, 192, 192) solid;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.personal-info-sub-container-1,
.personal-info-sub-container-2,
.summary {
  padding: 8px;
}

.editor-title {
  background-color: #2f3d58;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 4px;
  color: white;
  display: flex;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editor h2 {
  font-size: 18px;
  font-weight: 400;
}

.editor svg {
  height: 18px;
}

label {
  font-size: 15px;
}

input,
textarea {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border: none;
  outline: 1px solid rgb(132, 132, 132);
}

.work-experience-input-container,
.education-input-container,
.skills-input-container,
.personal-info-input-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.education-bottom-row,
.education-top-row,
.work-experience-top-container,
.work-experience-bottom-container,
.key-responsibilities-editor {
  padding: 4px 0px;
}

.delete-button {
  background-color: #f65555;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button:hover {
  background-color: #d24040;
}

.delete-button:active {
  background-color: #c12323;
}

.education-input-item,
.work-experience-input-item {
  border: 1px solid #c5c5c5;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education-input-container .add-button,
.work-experience-input-container .add-button {
  margin: 8px !important;
  border: none;
  color: white;
  background-color: #2f3d58;
  border-radius: 5px;
  padding: 6px;
  font-weight: 400;
}

.education-input-container .add-button:hover,
.work-experience-input-container .add-button:hover {
  background-color: #3f5277;
}

.education-input-container .add-button:active,
.work-experience-input-container .add-button:active {
  background-color: #27334a;
}

.add-button,
.delete-button {
  font-size: 15px;
}

.skill-input {
  padding: 4px;
  margin: 4px;
}

.skills {
  padding: 4px;
  margin: 8px;
  gap: 8px;
}

.skill-input button {
  margin: 8px !important;
  border: none;
  color: white;
  background-color: #2f3d58;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: 400;
}

.skill-input input:focus {
  border: 1px #27334a solid;
  outline: none;
}

.skill {
  background-color: #e5e5e5;
  padding: 4px 8px;
  border-radius: 16px;
  color: #27334a;
}

.skill:hover {
  color: #3f5277;
}

.skill-remove:hover {
  color: #c12323;
}

.education-input-item {
  margin: 8px;
  padding: 8px;
}

.education-input-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preview-container {
  padding-top: 25px;
  background-color: white;
}

.preview-personal-info {
  background-color: #2f3d58;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.preview-personal-info span {
  display: flex;
  gap: 4px;
}

.preview-header-section {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.preview-first-name {
  font-size: 32px;
  font-weight: 600;
}

.preview-title {
  font-size: 18px;
}

.preview-summary {
  padding: 10px 25px;
}

.preview-h2 {
  font-size: 24px;
  font-weight: 400;
}

.work-experience-preview-container {
  padding: 10px 25px;
}

hr {
  margin-bottom: 8px;
}

.work-experience-preview-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-experience-preview-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-experience-preview-company {
  font-weight: 600;
  font-size: 20px;
}

.work-experience-preview-job-title {
  font-size: 15px;
}

.work-experience-preview-item {
  display: flex;
  flex-direction: column;
}

.education-preview-container {
  padding: 10px 25px;
}

.education-preview-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.education-preview-header {
  display: flex;
  justify-content: space-between;
}

.preview-degree-name {
  font-size: 18px;
  font-weight: 600;
}

.skills-preview-container {
  padding: 10px 25px;
  padding-bottom: 50px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-preview {
  padding: 4px 8px;
  background-color: #e5e5e5;
  color: #27334a;
  border-radius: 16px;
}

.print-button {
  margin-top: 25px;
  border: none;
  color: white;
  background-color: #2f3d58;
  border-radius: 8px;
  padding: 4px 8px;
}

.print-button:hover {
  cursor: pointer;
  background-color: #27334a;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: A4 portrait;
    padding-top: 20mm;
    padding-bottom: 20mm;
  }

  body {
    background-color: white;
  }

  .editor,
  .print-button {
    display: none !important;
  }

  .preview-container {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    padding: 0mm 20mm !important;
  }

  div {
    break-inside: avoid;
  }

  hr {
    background-color: black;
    height: 1pt;
  }
}
